<h1> Hi, <%= current_user.first_name %>

<h1>Home Page</h1>

<h2>anime</h2>
 <p>
  <%= @animes.inspect %>
 </p>

 <h2>Skills</h2>
 <p>
  <%= @skills.inspect %>
 </p>

<%= link_to "Animes", animes_path %>

<p><%= current_user.class %></p>

<hr>



