  <p><%= link_to anime.title, anime_path(anime) %></p>

  <p><%= anime.subtitle.upcase %></p>

  <p>Published <%= distance_of_time_in_words(anime.created_at, Time.now) %> ago</p>

  <p><%= anime.body %></p>

  <%= image_tag anime.thumb_image unless anime.thumb_image.nil? %>
  <%= link_to anime.status, toggle_status_anime_path(anime) %>
  <%= link_to "Edit", edit_anime_path(anime) %>
  <%= link_to "Delete", anime, method: :delete %>