<h1>edit Anime</h1>


<%= form_for @anime do |f| %>

  <div clas="field">
  <%= f.label :title %>
  <%= f.text_field :title %>
  </div>


  <div clas="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>


  <div clas="field">
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>

  <div class="actions">
   <%= f.submit %>
  </div>

  <% end %>


<%= link_to "Back", animes_path %>
<%= link_to "Show", @anime %>


 