<%= image_tag @anime.main_image %>


<h1>Title:</h1>
 <%= @anime.title %>



<em>Subtitle:</em>
 <%= @anime.subtitle %>


<p>
<strong>Body:</strong>
 <%= @anime.body %>
</p>

<h2>Technologies used:</h2>

<% @anime.technologies.each do |t| %>
<p><%= t.name %></p>
<% end %>

<%= link_to "Back to Edit", edit_anime_path(@anime) %>
<%= link_to "Back", animes_path %>

<p><%= link_to "Back to Animes", animes_path %></p>

<hr>

